/* navbar css */
.navbar__background{
  position: sticky;
  overflow: hidden;
}

.student-detail{
  margin: 0 auto;
  aspect-ratio: 4/1;
  width: 500px; 
  box-shadow: 0 0 6px 1px rgba(0,0,0, 0.1);
  display: grid;
  grid-template-columns: 2fr 3fr;
  border-radius: 12px;
}
.student-image{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  border-radius: 10px;
}

.student-detail__text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  gap: 10px;
}

.label{
  width: 85px;
  display: inline-block;
  font-weight: 600;
}

#contributes{
  margin: 10vh auto;
  display: flex;
  justify-content: space-evenly;
  max-width:70vw ;
  min-width: 50vw;
}

.page-block{
  padding: 20px;
  width: 180px;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  gap: 10%;
  align-items: center;
  text-align: center;
  border: solid 1px black;
  box-shadow: 5px 5px 0 0 rgba(0,0,0, 1);
  position: relative;
}

.page-block>p{
  margin-bottom: 100px;
}
.page-link__button{
  position: absolute;
  margin: 10%;
  padding: 5% 20%;
  bottom: 20px;
  border-radius: 0;
  border: solid 1px black;
  cursor: pointer;
  background-color: var(--background-color);
  transition: background-color .3s ease-in-out;
}

.page-link__button:hover{
  background-color: var(--primary-highlight);
}

.editor {
  position: absolute;
  z-index: 999;
  font-size: 17.5px;
  color: #e0ab57b1;
  bottom: 10%;
  right: 1%;
}

.back-to-top-before {
  position: fixed;
  bottom: 10px;
  right: 20px;
  background-color: #09203E;
  border-radius: 10px;
  padding: 12px;
  padding-top: 88px;
  z-index: 999;
  opacity: 1;
}

.back-to-top-after {
  position: fixed;
  bottom: 10px;
  right: 20px;
  padding: 12px;
  z-index: 999;
  opacity: 0;
}

.back-to-top-after:hover {
  opacity: 1;
}

.back-to-top-after .top-text {
  margin:0px 0 10px 5px;
  color: #fff;;
}

  